<?xml version='1.0' encoding='utf-8'?>
    <widget id="ca.edumedia.wagn0070.giftr" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
        <name>Jake's Giftr</name>
        <description> A sample Apache Cordova application that responds to the deviceready event. </description>
        <author email="wagn0070@algonquinlive.com" href="edumedia.ca"> Jacob Wagner</author>
        <content src="index.html" />
        <preference name="SplashScreen" value="screen" />
        <preference name="splashScreenDelay" value="5000"/>
        <plugin name="cordova-plugin-whitelist" spec="1" />
        <access origin="*" />
        <allow-intent href="http://*/*" />
        <allow-intent href="https://*/*" />
        <allow-intent href="tel:*" />
        <allow-intent href="sms:*" />
        <allow-intent href="mailto:*" />
        <allow-intent href="geo:*" />
        <platform name="android">
            <allow-intent href="market:*" />
           
                <!-- you can use any density that exists in the Android project -->
                <splash src="res/screen/splash-land-hdpi.png" density="land-hdpi" />
                <splash src="res/screen/splash-land-mdpi.png" density="land-mdpi" />
                <splash src="res/screen/splash-land-xxhdpi.png" density="land-xxhdpi" />
                <splash src="res/screen/splash-land-xhdpi.png" density="land-xhdpi" />
                
                <splash src="res/screen/splash-port-hdpi.png" density="port-hdpi" />
                <splash src="res/screen/splash-port-mdpi.png" density="port-mdpi" />
                <splash src="res/screen/splash-port-xxhdpi.png" density="port-xxhdpi" />
                <splash src="res/screen/splash-port-xhdpi.png" density="port-xhdpi" />
               
                
                <icon density="mdpi" src="res/icons/icon-48-mdpi.png" />
                <icon density="hdpi" src="res/icons/icon-72-hdpi.png" />
                <icon density="xhdpi" src="res/icons/icon-96-xhdpi.png" />
                <icon density="xxhdpi" src="res/icons/icon-144-xxhdpi.png" />
                <icon density="xxxhdpi" src="res/icons/icon-192-xxxhdpi.png" /> 
        </platform>
        <platform name="ios">
            <allow-intent href="itms:*" />
            <allow-intent href="itms-apps:*" /> </platform>
    </widget>